@use '../../../variables' as *;

nz-card {
  width: max(50%, 30rem);
  border-radius: 10px;
  border-color: transparent;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 2rem;
  margin-inline: auto;

  .temp-image {
    background-color: darkgray;
    width: auto;
    aspect-ratio: 4 / 3;
    border-radius: $rounded;
  }

  h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  .description {
    margin-top: 0;
    margin-inline: 1rem;
  }
}

.padding {
  height: 2rem;
}
