<header>
  <nav>
    <a routerLink="/cards" routerLinkActive="active">Kártyák</a>
    <a routerLink="/enemies" routerLinkActive="active">Ellenfelek</a>
    <a routerLink="/levels" routerLinkActive="active">Szintek</a>
    <a routerLink="/info" routerLinkActive="active">A játékról</a>
  </nav>
  <div>
    <button nz-button *ngIf="!isLoggedIn" routerLink="/register" nzSize="large">
      Regisztráció
    </button>
    <button nz-button *ngIf="!isLoggedIn" routerLink="/login" nzType="primary" nzSize="large">
      Bejelentkezés
    </button>
    <button nz-button *ngIf="isLoggedIn" routerLink="/profile" nzType="primary" nzSize="large">
      <span nz-icon nzType="user"></span>
      Profil
    </button>
  </div>
</header>
