<nz-card>
  <h2>Bejelentkezés</h2>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Felhasználónév megadása kötelező!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="Felhasználónév" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Jelszó megadása kötelező!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Jelszó" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="buttons">
      <button nz-button class="login-form-button login-form-margin" nzType="primary">Bejelentkezés</button>
      <a>Regisztráció</a>
    </div>
  </form>
</nz-card>
