<comp-home></comp-home>
<comp-header></comp-header>

<h2>Játékleírás</h2>
<div class="container">
  <div>
    <p>
      A <strong>Katakombák Lapjai</strong> egy pakliépítő roguelike, amelyben egy elátkozott katakomba mélyére merészkedsz.
      Minden egyes lépésed egyre mélyebbre vezet, miközben új lényekkel, rejtélyes tárgyakkal és veszélyekkel találkozol.
      Vajon sikerül túlélni, megtalálni az utat, és visszatérni a felszínre?
    </p>
    <p>
      A játékmenet során a körökre osztott kártyajátékok izgalmait élheted át.
      Minden döntésed számít: hogyan építed fel a paklidat, mely lapokat játszod ki, és hogyan alkalmazkodsz a változó helyzetekhez.
      A procedurálisan generált katakombák minden alkalommal új kihívásokat tartogatnak, ahol minden szint egyedi ellenfeleket és meglepetéseket rejt.
    </p>
    <p>Készen állsz, hogy próbára tedd a stratégiád? Vajon sikerül uralnod a kártyák erejét, és kiutat találnod a katakombából? A kaland csak rád vár!</p>
  </div>
  <div class="inner">
    <img src="/screenshots/dungeon2.png">
    <img src="/screenshots/dungeon3.png">
  </div>
</div>

<comp-new-game></comp-new-game>
