div {
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  display: grid;
  place-items: center;

  button {
    border-color: transparent;
    z-index: 10;
    scale: 110%;

    &.is-active {
      display: none;
    }
  }
}
