@use '../../variables' as *;

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
}

.levels {
  display: flex;
  margin: 3rem;
  flex-wrap: wrap;
  gap: 2rem;

  .image {
    width: 20rem;
    aspect-ratio: 4 / 3;
    border-radius: $rounded;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .temp-image {
      width: 100%;
      height: 100%;
      background-color: darkgray;
      border-radius: $rounded;
    }

    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: block;
      margin: 0;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      text-align: center;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      overflow-wrap: break-word;
    }
  }
}
