div {
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  display: grid;
  place-items: center;
  z-index: 10;

  button {
    border-color: transparent;
    z-index: 11;
    scale: 110%;
  }
}
