/* You can add global styles to this file, and also import other style files */
body {
  background: radial-gradient(#261003, #21060f, black); // radial-gradient(#06211c, #010f1f, black);
  background-size: 600% 600%;
  animation: background 15s ease infinite;
}

@keyframes background {
  0%, 100% { background-position: -50% 50% }
  50% { background-position: 100% 50% }
}
