<comp-header></comp-header>
<!--<h2>Főoldal</h2>-->
<h2>Üdvözlet, vándor!</h2>
<div class="container">
  <div>
    <p>
      Lépj be egy rejtélyekkel teli világba, ahol a bátorság és a stratégia kéz a kézben jár!
      Készítsd elő kártyáidat, helyezd magad kényelembe, és készülj fel egy kalandra.
      Érdekel, milyen veszélyek és titkok rejtőznek a katakombák mélyén?
      Hogyan állíthatod össze a legerősebb paklit?
      Itt mindent elolvashatsz, amit tudni érdemes a Katakombák Lapjai-ról.
    </p>
    <p>Keress fel minket bátran új ötleteiddel, kérdéseiddel, észrevételeiddel!</p>
  </div>
  <img src="/screenshots/dungeon1.png" alt="screenshot">
</div>

<comp-new-game></comp-new-game>
